.formContainer {
    height: 95vh;
    background-color: #F1F5F7;
}
.news{
    padding: 3% 5% 0% 5%;
    background-color: #F1F5F7;
    .sc-fnVZcZ.cDmETx.rdt_TableHeader {
        background-color: #F1F5F7;
        // font-size: 25px;
    }
    height: 95vh;
    .actionButtons{
        width: 100%;
        display: flex;
        //for mobile give flex-direction: column;
    }
    .imageContainer {
        // padding-right: 9pc;
    }
    .editButton{
        // width: -webkit-fill-available;
        border: none;
        margin: 4% 0%;
        background-color: #00FF00;
        padding: 4px 12px;
        font-weight: 600;
        border-radius: 5px;
        margin-right: 3%;
        color: #fff;
    }
    .deleteButton{
        // width: -webkit-fill-available;
        border: none;
        margin: 4% 0%;
        background-color: red;
        padding: 4px 12px;
        font-weight: 600;
        border-radius: 5px;
        color: #fff;
    }
    img{
        padding: 5px;
    }
    .rdt_TableCol{
        font-size: 17px;
    }
    .createButton{
        background-color: #00FF00;
        float: right;
        color: #fff;
        padding: 8px 25px;
        border: none;
        border-radius: 5px;
    }
}
.headingForm{
    padding: 2% 0% 0% 12%;
    text-decoration: underline;
    font-style: italic;
}
.descriptionClass{
    padding: 10px;
}
.newsForm{
    margin: 2% auto;
    width: 55%;
    form {
        display: flex;
        gap: 5%;
        .uploadedImage{
            margin: 7% auto;
        }
        input[type="file"] {
            display: none;
        }
        .custom-file-upload {
            background-color: blue;
            border: 1px solid #ccc;
            display: inline-block;
            padding: 6px 12px;
            cursor: pointer;
            color: #fff;
        }
        .imageUpload{
            flex: 0.5;
        }
        .detailsForm{
            flex: 1;
            .eachRow {
                margin-bottom: 3%;
            }
            .submitButton{
                font-size: 18px;
                background-color: blue;
                padding: 8px 25px;
                color: #fff;
                border: solid 2px;
                border-radius: 5px;
            }
        }
    }   
}

@media only screen and (max-width: 1263px) {
    .news{
        padding: 3% 5% 0% 5%;
        .actionButtons{
            flex-direction: column;
        }
    }
    .newsForm{
        width: 80%;
        padding-top: 10%;
        form {
            flex-direction: column;
        }
    }
}